*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-size: inherit;
    line-height: inherit;
    font-family: "Helvetica neue",Helvetica,arial,sans-serif;
    color: #111;
    margin-left: 50px;
    margin-right: 50px;
    
}
.header{
    display: flex;
    justify-content:space-between;
    align-self: center;
    background:#ffff ;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1px 0;
    margin-left: 23px;
    margin-top: 18px;
    
}
.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 18px;
    background-color: transparent;
    padding-right: 10px;
    width: 150px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.input:hover{
    background-color: #d1cece9c;
}
.input #input-box{
    height: 20px;
    border-radius: 20px;
    flex: 1;
    color:black;
    outline: none;
    border: none;
    background:transparent;
    font-size: 16px;
    text-transform: capitalize;
    padding:4px;
    border: transparent;
}
.searchicon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width:35px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color:transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding-left: 6px;
    transition: all .4s;
}
.searchicon:hover{
    background-color:  #9d999968;
}
.exlogo{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    justify-content: flex-end;

}
.subhead{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#subhead1,#subhead2,#subhead3,#subhead4,#subhead5,#subhead6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 18px ;
    cursor: pointer;
}
.favourites{
    margin-top: 13px;
    margin-left: 15px;
    margin-right: 15px;
}

.cart{
    margin-right:15px ;
    margin-left: 15px;
    margin-top: 13px;
}
#dropdowncontent,#dropdowncontent2,#dropdowncontent3,#dropdowncontent4,#dropdowncontent5{
    display: block;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    width: 94%;
    z-index: 1;
    transition: all .6s;
    animation: slidedown .6s ease;
    border-bottom:1px solid black ;
}
@keyframes slidedown{
    0%{
        transform: translateY(-500px);
    }
    100%{
        transform: translateY(0);
    }
}
table{
    border-collapse: collapse;
    box-sizing: 10px;
    margin-left: 80px;
    text-transform: capitalize;
}
th{
    text-align: left;
    margin-bottom: 8px;
}
td{
    color:#908e9b;
    text-align: left;
    padding-top: 8px;
    letter-spacing: 1px;
}
#offerzone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ededed;
    padding: 8px;

    position: relative;
}
#offerzone h5{
    margin-top: 5px;
}
#offerzone a{
    color: black;
}
#slide1{
    display: block;
    animation: slideleft .2s ease-in reverse .2s ease-out;
}
@keyframes slideleft{
    0%{
        transform: translateX(-600px);
        
    }

}
@keyframes reverse{
    100%{
        transform: translateX(-600px);
    }
}
#slide2{
    display: none;
    animation: slideright .2s ease-in;
}
@keyframes slideright{
    0%{
        transform: translateX(500px);
    }
}

#intro2{
    max-width: 100%;
    height: auto;
}

.maintext{
    margin-top: 40px;
    height: auto;
    margin-left: 45px;
    color: black;
    text-align: center;
}
.maintext h1{
    font-family: "Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    font-weight: bolder;
    line-height: 40px;
    font-size: 55px;
    text-align: center;
    padding: 0%;
}
.maintext label{
    margin-bottom: 8px;
    margin-top: 5px;
    line-height: 25px;
}
#shop{
    border: none;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
    border-radius: 30px;
    background-color: black;
    color:#fff;
    font-weight:520;
    margin-top: 10px;
    cursor: pointer;
}
#shop:hover{
    background-color: #c5c5c8;
}

@media screen and (max-width:800px) {
    #subhead6,#subhead5{
        display: none;
    }
    .maintext{
        text-align: left;
    }
    .maintext h1{
        text-align: left;
    }
    #input-box{
        width: 90px;
    }
}
@media screen and (max-width:700px) {
    #subhead3,#subhead4{
        display: none;
    }
 
    
}
@media screen and (max-width:600px) {
    .subhead{
        display: none;
    }
    
    
}
.Featured,.Latest{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.zenvy{
    width: 50%;
    height:auto ; 
    display: flex;
    flex-direction: column;
    background-image:url("images/zenvy.webp") ;
    background-position: center;
    background-size: cover;
    color: white;  
    font-size: large;
    font-weight: 500;
    padding-top: 350px;
}
#zenvyh6,#shop1{
    margin-left: 20px;
}
#shop1,#getit{
    width: 60px;
    padding-right: 25px;
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: #fff;
    color:#000;
    font-weight:520;
    margin-top: 30px;
    cursor: pointer;
}
#shop1:hover,#getit:hover{
    background-color:#c5c5c8;
}
.swoosh{
    display: flex;
    flex-direction: column;
    background-image: url("images/soosh bra's.webp");
    background-position: center;
    background-size: cover;
    width: 50%;
    height:auto ; 
    padding-top: 350px;
    color: white;
    font-size: large;
    font-weight: 500;
    margin-left: 10px;
    padding-top: 350px;
}
.swooshtext{
    display: flex;
    flex-direction: column;
    padding-top: 350px;
    padding-bottom: 50px;
}
.zenvytext{
    display: flex;
    flex-direction: column;
    padding-top: 350px;
    padding-bottom: 50px;
}
.swoosh label,.running label{
    margin-left: 20px;
}
#shop2{
    width: 60px;
    padding-right: 25px;
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: #fff;
    color:#000;
    font-weight:520;
    margin-top: 10px;
    margin-left:20px;
    cursor: pointer;
}
#shop2:hover{
    background-color:#c5c5c8;
}
#feature{
    font-size: x-large;
    padding-top: 30px;
}
.app-drop{
    width: 50%;
    background-image: url("images/the latest.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:auto ; 
    display: flex;
    flex-direction: column;
    padding-top: 350px;
    color: #0000;
    font-size: large;
    font-weight: 500;
    padding-bottom: 50px;
}
.droptext{
    display: flex;
    flex-direction: column;
    padding-top: 350px;
    padding-bottom: 50px;
}
#getit{
    width: 90px;
    padding-right: 25px;
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color:#000;
    color:#fff;
    font-weight:520;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 20px;
}
.running{
    width: 50%;
    background-image: url("images/running sheos.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:auto; 
    padding-top: 350px;
    color: #000;
    font-size: large;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.running label{
    display: flex;
    flex-direction: column;
    padding-top: 350px;
    padding-bottom: 50px;
    font-size: large;
}
#drop{
    color: #000;
    margin-left: 20px;
}
#drlabel{
    color: #000;
    margin-left: 20px;
    font-size: large;
}
#shop3{
    width: 60px;
    padding-right: 25px;
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: #000;
    color:#fff;
    font-weight:520;
    margin-top: 70px;
    margin-left:20px;
    cursor: pointer;
}
#shop3:hover{
    background-color:#c5c5c8;
}
.slidercontainer{
    width:100%;
}
.slidercontainer .slider{
    font-size: 0px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}
.slider{
    display: flex;
    transition: transform 0.3s ease;
}
.slider img{
    width: calc(100%/3);
    height: auto;
    margin-left: 10px;
    object-fit: cover;
}
.slider img:first-child{
    margin-left: 0px;
}
.arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.arrow label{
    font-size: x-large;
}
.directions{
    display: flex;
    flex-direction: row;
}
.directions :first-child{
    margin-right: 8px;
}
#leftarrow{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #dedde2d4;
    align-items: center;
    justify-content: center;
    padding: 5px;
    display: none;
}
#leftarrow:hover{
    background: #f6f4f4d6;
}
#rightarrow{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #dedde2d4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#rightarrow:hover{
    background: #f6f4f4d6;
}
@media screen and (max-width:700px) {
    .slider img{
        width: calc(100%/2);
    }
    .Featured{
        flex-direction: column;
    }
    .zenvy{
        width: 100%;
    }
    .swoosh{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .Latest{
        flex-direction: column;
    }
    .app-drop{
        width: 100%;
    }
    .running{
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .slider img{
        width: calc(100%);
    }
  
}
.dontmiss{
    margin-top: 15px;
}
.miss-text{
    font-size: 20px;
    font-weight: 520;
    margin-top: 20px;
}
.dontmiss img{
    height: auto;
    width: 100%;
    margin-top: 20px;
}
.legend label{
    font-size: x-large;
    font-weight: 520;
} 
.slidercontainer2{
    width: 100%;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
.legend .slidercontainer2 .images{
    margin-top: 15px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    font-size: 0px;
}
.images{
    display: flex;
    flex-direction: row;
}
.images img{
    height: auto;
    width: calc(100%/3);
    padding: 3px;
    object-fit: cover;
}
.arrow2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    top: 180px;
    z-index: 3;
}
.arrow2 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #dedde2d4;
    padding: 5px;
   
}
@media screen and (max-width:700px) {
    .images img{
        width: calc(100%/2);
    }
}
@media screen and (max-width:600px) {
    .images img{
        width: 100%;
    }
}
#essent{
    margin-top: 10px;
}
.essentials{
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    
}
.mens,.womens,.Kids{
    width: calc(100%/3);
}
.mens{
    background-image:url(images/mens.webp) ;
    height: auto;
    background-position: center;
    background-size: cover;
    padding-top: 350px;
}
.mens button{
    margin-left: 25px;
    margin-bottom: 30px;
    background-color: white;
    color: #000;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 30px;
}
.mens button:hover{
    background-color: #ffffffb2;
}
.womens{
    background-image:url(images/womens.webp) ;
    height: auto;
    background-position: center;
    background-size: cover;
    padding-top: 350px;
    margin-left: 8px;
}
.womens button{
    margin-left: 25px;
    margin-bottom: 30px;
    background-color: white;
    color: #000;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 30px;
}
.womens button:hover{
    background-color: #ffffffb2;
}
.Kids{
    background-image:url(images/kids.webp) ;
    height: auto;
    background-position: center;
    background-size: cover;
    padding-top: 350px;
    margin-left: 8px;
}
.Kids button{
    cursor: pointer;
    margin-left: 25px;
    margin-bottom: 30px;
    background-color: white;
    color: #000;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 30px;
}
.Kids button:hover{
    background-color: #ffffffb2;
}
@media screen and (max-width:600px) {
    
    
    .mens,.womens,.Kids{
        width: 100%;
        margin-top: 20px;
    }
    .womens,.Kids{
        margin-left: 0px;
    }
    .essentials{
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        
    }
}
.table{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    box-sizing: 10px;
    text-transform: capitalize;
}
.table th{
    text-align: left;
    margin-bottom: 8px;
}
.table td{
    color:#908e9b;
    text-align: left;
    padding-top: 8px;
    letter-spacing: 1px;
}
.table td:hover{
    color:#0c0c0c;
}
.list {
    list-style: none;
    font-size: medium;
    font-weight: bold;
    display: none;
}
.list li{
    margin-top: 30px;
}
@media screen and (max-width:700px) {
    .table{
        display: none;
    }
    .list{
        display: block;
    }
}

.footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #111;
    color: white;
    width: 100%;
    height: 450px;
    padding: 30px;
}
.ftext{
    display: flex;
    flex-direction: row;
}
.fhead {
    cursor: pointer;
    color: white;   
    margin-left: 20px;
}
.fhead li{
    list-style: none;
    padding-top: 20px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}
.help{
    margin-left: 40px;
}
.help li{
    margin-top: 8px;
    list-style: none;
    color: #474747;
    cursor: pointer;
}
.help li:hover{
    color:white;
}
.help li:first-child{
    color: white;
    font-size: medium;
    font-weight: bold;
}
.about{
    margin-left: 40px;
}
.about li{
    cursor: pointer;
    margin-top: 8px;
    list-style: none;
    color: #474747;
}
.about li:hover{
    color:white;
}
.about li:first-child{
    color: white;
    font-size: medium;
    font-weight: bold;
}
.contact img{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #7e7e7e;
    padding: 1px;
    margin: 10px;
}
.contact img:hover{
    background-color: white;
}
.last-line{
    padding-left: 20px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #474747;
}
#location{
    height: 20px;
    width: 20px;
}
.second-line text{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.second-line text:hover{
    color: rgba(255, 255, 255, 0.706);
}
footer{
    background-color:#111;
    color:white;
    padding-left: 35px;
    display: none;
}
.footerlist {
    cursor: pointer;
    color: white;   
    margin-left: 20px;
    
}
.footerlist li{
    list-style: none;
    padding-top: 20px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}
hr{
  
    margin-top: 20px;
}
.accordion{
    margin-top: 20px;
    position: relative;
    margin-left: 20px;
}
 h5{
    position: relative;
    margin-top: 20px;
}
 h5:after{
    content: '+';
    position: absolute;
    height: 45px;
    width: 30px;
    right: 20px;
}

.content{
    font-size: smaller;
    font-weight: 200;
    color: #474747;
    border-bottom: #474747;
    height: 0;
    overflow: hidden;
    transition: .3s;
    overflow-y: auto;
}
.contentbox ul :hover{
    color:rgba(255, 255, 255, 0.775);
}
.content li{
    list-style: none;
    padding-top: 20px;
    cursor: pointer;
    font-size: medium;
}
 .contentbox h4:active .content{
     height: auto;
}
.contentbox.active .content{
    height: 300px;
}
.contentbox.active h4:after{
    content: '-';
    position: absolute;
    height: 25px;
    width: 40px;
    right: 20px;
}
@media screen and (max-width:800px) {
    .footer{
        display: none;
    }
    .last-line{
        display: none;
    }
    footer{
        display: block;
    }
}
.contact2{
    margin-top: 20px;
    margin-left: 20px;
}
.contact2 img{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #7e7e7e;
    padding: 1px;
    margin: 10px;
}
.contact2 img:hover{
    background-color: white;
}
.loc,.loc text{
    margin-left: 20px;
}
.loc img{
    height: 20px;
    width: 20px;
}
.foottext{
    margin-left: 20px;
    color: #474747;
}
.lastlist{
    margin-top: 20px;
    margin-left: 20px;
    color: #474747;
}
.lastlist li{
    list-style: none;
    padding-top: 20px;
}
.lastlist li:nth-child(4){
    padding-bottom: 20px;
}
.nothing{
    height: 10px;
    width: 100%;
    background-color: rgb(207, 203, 203);
}